<table class="table table-hover">
  <% posts.each do |post| %>
  <tr class="tr-link" data-link="<%= post_path(post) %>">
    <td><%= post.title %></td>
    <td><%= post.state %></td>
    <td><%= post.created_at.strftime('%F') %></td>
    <% if current_user == post.user %>
      <td><%= link_to fa_icon("pencil"), edit_post_path(post), class: "btn btn-dark" %>
        <%= link_to fa_icon("times"), post_path(post), method: :delete, class: "btn btn-danger" %></td>
    <% end %>
  </tr>
  <% end %>
</table>