<section id="feed-page">
  <div id="feed-header">
    <div class="row justify-content-md-center align-items-center text-center">
      <div class="col-3 user-count">
        <h1>User</h1>
        <div class="count-block">
          <%= @users.count %>
        </div>
      </div>

      <div class="col-3 post-count">
        <h1>Post</h1>
        <div class="count-block">
          <%= @posts.count %>
        </div>
      </div>

      <div class="col-3 reply-count">
        <h1>Comment</h1>
        <div class="count-block">
          <%= @replies.count %>
        </div>
      </div>
    </div>
  </div>


  <div id="rank">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-3">
          <div class="chatterbox text-center">
            <div class="p-header">
              <h2>ChatterBox</h2>
            </div>
            <div class="divider"></div>
            <% @rank_users.each_with_index do |user, index| %>
            <table>
              <tr>
                <th width="30px"><%= index+1 %>.</th>
                <th width="120px"><%= user.name %></th>
                <th width="30px"><%= user.replies_count %></th>
              </tr>
            </table>
            <% end %>
          </div>
        </div>
        <div class="col-5">
          <div class="popular-post text-center">
            <div class="p-header">
              <h2>Most Popular Post</h2>
            </div>
            <div class="divider"></div>
            <% @rank_posts.each_with_index do |post, index| %>
            <table>
              <tr>
                <th width="10%"><%= index+1 %>.</th>
                <th width="20%"><%= post.title %></th>
                <th width="10%"><%= post.created_at.strftime("%F") %></th>
              </tr>
            </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


