<section id="index-page">
  <header>
    <h1>Dojo Forum</h1>
  </header>
  <div class="container">
    <div class="content">
      <div class="category-button-group p-3">
        <%= link_to "All", posts_path, class: "btn btn-primary w-normal" %>
        <% @categories.each do |category| %>
          <%= link_to "#{category.name}", posts_path(category: "#{category.id}"), class: "btn btn-primary w-normal" %>
        <% end %>
      </div>

      <table id="myTable" class="table tablesorter text-center">
        <thead>
          <tr>
            <th class="sortable" width="10%"><h5>Replies count</h5></th>
            <th width="20%" class="text-left"><h5>Title</h5></th>
            <th class="sortable" width="10%"><h5>Last replies at</h5></th>
            <th class="sortable" width="10%"><h5>Viewed count</h5></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr class="tr-link" data-link="<%= post_path(post)%>">
              <td class="count-block"><span><%= post.replies_count %></span></td>
              <td class="text-left"><strong><%= post.title %></strong></td>
              <td><%= post.replies.last.created_at.strftime('%F') if post.replies.present? %></td>
              <td><i class="fa fa-eye"></i>  <%= post.views_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= paginate @posts %>
      </div>
    </div>
  </div>

</section>
