<h1>post new page</h1>

<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "title", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, placeholder: "description", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Who Can See" %>
    <% @article_roles.to_a.each do |article_role| %>
      <%= f.radio_button :article_role, article_role %>
      <%= f.label article_role %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label "Category" %>
    <% Category.all.each do |category| %>
      <%= f.check_box :category_id, {mutiple: true}, category.id, nil %>
      <%= f.label category.name %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>