<section class="show-post-page">
  <div class="show-post-header p-4">
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="header-title">
          <h1><%= @post.title %></h1>
        </div>
        <div class="header-btn">
          <%= render "shared/collect_btn", object: @post %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="post-content p-3">
      <div class="row">
        <div class="col-md-3 text-center user-info" data-link="<%= user_path(@post.user) %>">
          <figure>
            <%= image_tag @post.user.avatar, size: "150" %>
          </figure>
          <p><%= @post.user.name %></p>
          <%= render "shared/add_friend", object: @post %>
        </div>
        <div class="col-md-9">
          <figure>
            <%= image_tag @post.photo ,class: "post-img" if @post.photo %>
          </figure>
          <p><%= @post.description %></p>
          <div class="edit-btn">
            <%= link_to fa_icon("pencil"), edit_post_path(@post), class: "btn btn-custom" if current_user == @post.user %>
            <%= link_to fa_icon("times"), post_path(@post), method: :delete, class: "btn btn-danger" if current_user == @post.user || current_user.role == "admin" %>
          </div>
        </div>
      </div>
    </div>
    
    <div id="reply-list" class="reply-block p-3">
      <% @replies.each do |reply| %>
      <div id="<%= reply.id %>" class="reply-content p-3">
        <div class="row">
          <div class="col-md-3 text-center user-info" data-link="<%= user_path(reply.user) %>">
            <figure>
              <%= image_tag reply.user.avatar, size: "150" %>
            </figure>
            <p><%= reply.user.name %></p>
            <%= render "shared/add_friend", object: reply %>
          </div>
          <div class="col-md-9">
            <div id="reply-<%= reply.id%>">
              <div class="my-comment">
                <p><%= reply.comment %></p>
              </div>

              <div class="edit-btn">
                <% if current_user == reply.user %>
                  <span class="reply-edit btn btn-custom fa fa-pencil"></span>
                  <%= link_to fa_icon("times"), post_reply_path(@post, reply), method: :delete, class: "btn btn-danger" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <%= paginate @replies %>
    </div>
    
    <div id="reply-form-block" class="reply-form p-5">
      <%= form_for [@post, @reply] do |f| %>
        <div class="form-group">
          <%= f.text_area :comment,placeholder: "add comment", resize: false, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Submit", class: "btn btn-custom" %>
        </div>
      <% end %>
    </div>
  </div>
</section>


<script>
  $("#reply-list").on('click', '.reply-edit', function(event){
    var id = event.target.parentNode.parentNode.parentNode.parentNode.parentNode.id;
    var postId = <%= @post.id %>;
    $.ajax({
      url: "/posts/" + postId + "/replies/" + id + "/edit",
      method: "GET",
      dataType: "json",
      success: function(data){
        // 顯示編輯框
        console.log(data["id"]);
        var comment = $("#" + data["id"]).find(".my-comment");
        comment.html($("#edit-template").html());
        comment.find(".update-comment").val(data["comment"]);
        comment.on('click', '.update-button', function(updateEvent){
          // 更新comment
          updateEvent.preventDefault();
          $.ajax({
            url: "/posts/" + postId + "/replies/" + data["id"],
            method: "PATCH",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            dataType: "json",
            data: {
              reply: {
                comment: comment.find(".update-comment").val()
              }
            },
            success: function(updateData){
              // 更新成功
              console.log("更新成功：" + data["id"]);
              var comment = $("#" + data["id"]).find(".my-comment");
              comment.html('<p class="comment"></p>');
              comment.find('p').html(updateData["comment"]);
              toastr.success("成功更新留言");
            }
          });
        });
      }
    });
  });
</script>

<script type="text/template" id="edit-template">
  <form>
    <div class="form-group">
      <textarea resize="false" class="form-control update-comment"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-custom update-button">Update</button>
    </div>
  </form>
</script>
