<section id="admin">
  <div class="container">
    <div class="nav">
      <h1><%= link_to "Category List", admin_categories_path %></h1>
      <h1 class="active"><%= link_to "User list", admin_users_path %></h1>
    </div>

    <div class="admin-content">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <%= form_for [:admin, user] do |f| %>
                <%= f.select :role, options_for_select(["admin", "normal"], f.object.role) %>
                <%= f.submit "Update" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
